<!DOCTYPE html>
<html>
<head>
    <title>Cart</title>

    <style>
        body { font-family: Arial; background: #f4f4f4; }
        .container { width: 80%; margin: auto; }
        .box { background: white; padding: 15px; margin: 10px 0; border-radius: 10px; }
        .total { font-size: 20px; font-weight: bold; }
        .btn {
            background: green;
            color: white;
            padding: 10px;
            text-decoration: none;
            display: inline-block;
            margin-top: 10px;
        }
    </style>
</head>

<body>

<div class="container">

    <h1>🛒 Your Cart</h1>

    {% for item in items %}
    <div class="box">
        <h3>{{ item.food.name }}</h3>
        <p>Quantity: {{ item.quantity }}</p>
        <p>Subtotal: KSh {{ item.quantity|add:"0" }}00</p>
    </div>
    {% empty %}
        <p>Your cart is empty</p>
    {% endfor %}

    <hr>

    <hr>

<p class="total">Subtotal: KSh {{ subtotal }}</p>

<p class="total">Delivery Fee: KSh {{ delivery_fee }}</p>

<p class="total">Grand Total: KSh {{ total }}</p>

    <a class="btn"
       href="https://wa.me/2547XXXXXXXX?text=Hello%20I%20want%20to%20order%20my%20food">
        Checkout on WhatsApp 📱
    </a>

</div>

</body>
</html>